.env
test/output/*
test/input
test/input/
test/input/*
*.pyc
__pycache__/
test/*.md
M:\ML\ChatGPT\gennote\batch\scripts
M:\ML\ChatGPT\gennote\batch\batch_logs
"batch/batch_logs/" 
"batch/scripts/" 


